{% extends 'DvdWorldWebsiteBundle:Default:movies_by_genre.html.twig' %}

{% block title %}Movies not found{% endblock %}
{% block movieBlock %}
   <font color="red"><h4 align="center" >Movies not found</h4></font>
{% endblock %}